{% include 'components/navbar/style.html.twig' %}

<nav>
  <div class="container nav-container">
    <a href="{{ path('catalog') }}" class="logo">Vintud</a>
    <ul class="nav-links">
    {% if log %}       
      <a href="{{ path('create_article') }}" class="add-article-button">
        <i data-lucide="plus-"></i>
        Ajouter un article
      </a>
      <a href="{{ path('create_category') }}" class="add-article-button">
        <i data-lucide="plus-"></i>
        Ajouter une catégorie
      </a>
      <a href="{{ path('add_money') }}" class="add-article-button">
        <i data-lucide="plus-"></i>
        Ajouter money
      </a>
      {{moneyAccount}}
      {% include 'components/avatar/index.html.twig' %}
    {% else %}
      <div class="auths-links">
        <li>
          <a href="{{ path('app_login') }}" class="auth-link signin">Connexion</a>
        </li>
        <li>
          <a href="{{ path('app_register') }}" class="auth-link signup">Inscription</a>
        </li>
      </div>
    {% endif %}
    </ul>
  </div>
</nav>
