{% extends 'base.html.twig' %}

{% block title %}
    {{title_page}}
{% endblock %}

{% block body %}
    {% include 'components/navbar/index.html.twig' %}
    <ul>
    {% for message in messages %}
        <li>
            <strong>{{ message.sender.email}}:</strong> {{ message.content }} ({{ message.createdAt|date('Y-m-d H:i') }})
        </li>
    {% endfor %}
        <li>
            {{ form_start(form) }}
            {{ form(form) }}
            <button type="submit">Envoyer</button>
            {{ form_end(form) }}
        </li>
</ul>


{% endblock %}
