<!DOCTYPE html>

<title>Hello CatalogController!</title>

{% block body %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f9;
        }

        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .example-wrapper h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .example-wrapper h2 {
            color: #555;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .example-wrapper img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .example-wrapper p {
            color: #666;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .example-wrapper a {
            display: inline-block;
            margin: 10px 0;
            padding: 10px 15px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .example-wrapper a:hover {
            background-color: #0056b3;
        }
    </style>

    <div class="example-wrapper">
        <h1>Liste des items:</h1>
        {% for article in articles %}
            <h1>Article {{ loop.index }} :</h1>
            {% if article.fav >= 4 %}
                <h2>{{ article.title }} 😎</h2>
            {% else %}
            {% endif %}
            {% if article.fav >= 2  %}
                <h2>{{ article.title }} 😊</h2>
            {% else %}
            {% endif %}
            <h2>{{ article.title }}</h2>
            <img src="{{ article.image }}" alt="quelque chose">
            <p>Prix : {{ article.price + (article.txa/100) }}€</p>
            <p>{{ article.content }}</p>
        {% endfor %}
        <a href="{{ path('create_article') }}">Create an article</a>
        <a href="{{ path('hello_world') }}">Home</a>
    </div>
{% endblock %}